# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
*.env

# Logs
*.log
